<ol class="breadcrumb">
         <li><a href="http://rgf.drohobych.net">Інститут іноземних мов</a></li>
         <li><a href="http://rgf.drohobych.net/content/kaf-rom">Кафедра практики німецької мови</a></li>
         <li class="active">Електронний навчальний ресурс</li>
      </ol>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <div class="caption">
        <h3>Описи навчальних дисциплін</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
            
        <p><strong>Перший (бакалаврський) рівень вищої освіти</strong></p>
   <br>
   <p><strong>Перелік дисциплін</strong></p>
   <br>
   		
            <ul>
                     <li><a href="files/1.1.praktuka.pdf">1.1.Практика усного та писемного мовлення</a></li>
                     <li><a href="files/1.1.praktuka.pdf">1.1.Практика усного та писемного мовлення</a></li>
                     <li><a href="files/1.1.praktuka.pdf">1.1.Практика усного та писемного мовлення</a></li>
   		                       
   	  </ul>
   <br>
   	  <p><strong>Другий (магістерський) рівень вищої освіти</strong></p>
   	<br>
   <p><strong><a href="files/perelik_mahistr.docx">Перелік дисциплін</a></strong></p>
   <br>	
            <ul>
   		   <li><a href="files/1.1.praktuka.pdf">1.1.Культура усного та писемного мовлення основної іноземної мови</a></li>
   		   
            </ul>
  <br>
   			
   </div>
</div>
       </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <div class="caption">
        <h3>Описи навчальних дисциплін</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
         <p><strong>Освітньо-кваліфікаційний рівень "Спеціаліст"</strong></p>
   	 <br>
   <br>
   <p><strong><a href="files/perelik_mahistr.docx">Перелік дисциплін</a></strong></p>
   <br>	
            <ul>
   		   <li><a href="files/1.1.praktuka.pdf">1.1.Культура усного та писемного мовлення основної іноземної мови</a></li>
   		   
            </ul>
  <br>
      </div>
</div>
       </div>
    </div>
  </div>
            
          <br>
            <br>
